// colors
$primary-color: #e5b15d;
$dark-color: #1b191a;
$light-color: #fff;
$black-color: #000;

// units
$max-width: 1440px;
$anim-speed: 400ms;
$anim-curve: ease;
$scale-factor: 1.03;
$inner-width: 65%;
$card-spacing: 1rem;
$section-padding: 4rem;

// fonts
$default-font: "Arial", "Helvetica", sans-serif;
$vintage-font: "Smythe", cursive;
$heavy-font: "Inter", sans-serif;
